
{% extends "main.html" %}
{% block tabs %}

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0/dist/themes/light.css" />
	<script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0/dist/shoelace.js"></script>
	<style>
		body {
			background-color: #f5f5f5;
			font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
			font-feature-settings: "kern", "liga";
			font-size: 0.8rem;
		}

		.logo-image {
			max-width: 10%;
			max-height: 10%;
		}

		.header {
			display: flex;
			width: 100%;
			max-width: none;
			padding: 2rem 4rem;
			flex-direction: column;
			align-items: center;
			background-color: transparent;
		}

		.header-nav {
			justify-content: space-between;
		}

		.header-logo {
			display: flex;
			width: auto;
			align-items: center;
		}

		.grid {
			display: grid;
			column-gap: 0.5rem;
		}

		@media (min-width: 600px) {
			.grid {
				grid-template-columns: repeat(2, 1fr);
				grid-template-columns: 40% 60%;
			}
		}

		.what-section {
			min-height: 90vh;
			padding-top: 1rem;
			padding-bottom: 0;
			justify-content: center;
		}

		.container {
			display: flex;
			width: 90%;
			max-width: 1100px;
			margin-top: -25px;
			padding-top: 0;
			justify-content: space-between;
			align-items: center;
		}

		.div-header-home {
			flex-direction: row;
			padding-left: 2rem;
		}

		.h1.centered {
			font-size: 1.4rem;
			width: 90%;
			font-weight: 700;
			text-align: left;
		}

		h1 {
			color: #f05454;
		}

		h3 {
			font-size: 1.0rem;
			color: #304753;
		}

		.centered {
			text-align: center;
		}

		.hero-subheading.centered {
			max-width: none;
			text-align: left;
		}

		.hero-subheading {
		}

		p.hero-subheading,
		ul.hero-subheading {
			font-size: 0.8rem;
		}


		.div-iframe {
			position: relative;
			overflow: hidden;
			width: 100%;
			padding-top: 56.25%;
		}

		.responsive-iframe {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;
		}
	</style>

	<!-- header: todo 
	    1. complete any nav buttons
	    2. what about right side -->
<!--	<div class="header">
		<div class="header-nav">
			<div class="header-logo">
				<a href="https://djplaner.github.io/canvas-collections/">
					<img class="logo-image"
						src="https://repository-images.githubusercontent.com/444951314/ca609cdf-d4ce-4294-aac1-27067209a10d"
						\>
				</a>
			</div>
		</div>
	</div> -->

	<div class="grid">
		<div class="div-header-home">
			<h1 class="h1 centered">
				Improve your Canvas course site design
			</h1>

			<p class="hero-subheading">
				<a
					href="https://www.instructure.com/en-au/canvas/resources/all/how-to-use-modules-to-build-courses-in-canvas">Canvas
					Modules</a> are the <a
					href="https://community.canvaslms.com/t5/Canvas-Basics-Guide/What-is-Canvas/ta-p/45">Canvas LMS'</a>
				main tool for organising learning activities. But Modules have known limitations, including:
			</p>
			<ul class="hero-subheading">
				<li> one long <a
						href="https://learntech.medsci.ox.ac.uk/wordpress-blog/a-dashboard-view-of-modules-in-canvas/"
						target="_blank" rel="noreferrer">overwhelming list</a>;</li>
				<li> cannot <a href="https://lisahistory.net/wordpress/2020/06/working-against-canvas-three-tips/"
						target="_blank" rel="noreferrer">embed contextual information</a>; and,</li>
				<li><a href="https://it.umn.edu/services-technologies/how-tos/canvas-decide-how-organize-your-course"
						target="_blank" rel="noreferrer">lack visual appeal</a>.</li>
			</ul>
			<p class="hero-subheading">Canvas Collections helps address these limitations.</p>
			</p>
		</div>
		<div class="div-header-content">
			<div class="header-content">

				<h3>Compare and contrast</h3>
				<sl-tab-group placement="start">
					<sl-tab slot="nav" panel="canvas"> Canvas Modules </sl-tab>
					<sl-tab slot="nav" panel="collections"><sl-icon name="plus-circle"></sl-icon> &nbsp; Collections
					</sl-tab>
					<sl-tab slot="nav" panel="representations"><sl-icon name="plus-circle"></sl-icon> &nbsp;
						Representations
					</sl-tab>
					<sl-tab slot="nav" panel="objects"><sl-icon name="plus-circle"></sl-icon> &nbsp; Objects
					</sl-tab>
					<sl-tab slot="nav" panel="claytons"><sl-icon name="plus-circle"></sl-icon> &nbsp; Claytons
					</sl-tab>
					<sl-tab slot="nav" panel="configure"><sl-icon name="plus-circle"></sl-icon> &nbsp; Simple to
						configure</sl-tab>

					<!-- 1.3 -->
					<sl-tab-panel name="canvas">
						<div class="explanation">
							<p>A course with 11 modules. A long scroll. A need
								to remember where things are. Little visual distinction beyond
								use of emojis in module names. Little design or contextual information visible.
							</p>
						</div>
						<div class="div-iframe">
							<iframe class="responsive-iframe" src="https://www.youtube.com/embed/OOvlyd--JkM"
								title="YouTube video player" frameborder="0"
								allowfullscreen></iframe>
						</div>

					</sl-tab-panel>
					<sl-tab-panel name="collections">
						<div class="explanation">
							<p>11 modules now grouped into three, design specific <em>collections</em>. Navigate between
								<em>collections</em>.
							</p>
							<p>The <a
									href="https://community.canvaslms.com/t5/Idea-Conversations/Modules-within-Modules/idc-p/461383">
									long requested ability to group modules</a>.
							</p>
						</div>
						<div class="div-iframe">
							<iframe class="responsive-iframe" src="https://www.youtube.com/embed/OOvlyd--JkM"
								title="YouTube video player" frameborder="0"
								allowfullscreen></iframe>
						</div>
					</sl-tab-panel>
					<sl-tab-panel name="representations">
						<h1>Hello</h1>

					</sl-tab-panel>
					<sl-tab-panel name="objects">
						<div class="explanation">
							<p>Additional metadata has been added to each module (e.g. a description, dates,
								images, label etc). Transforming a vanilla Canvas module into a design and context
								specific <em>object</em>.
							</p>
						</div>
						<div class="div-iframe">
							<iframe class="responsive-iframe" src="https://www.youtube.com/embed/5OaJmZ6FPVc"
								title="YouTube video player" frameborder="0"
								allowfullscreen></iframe>
						</div>

					</sl-tab-panel>
					<sl-tab-panel name="claytons">
						<h1>Claytons</h1>

					</sl-tab-panel>
					<sl-tab-panel name="configure">
						<h1>Configure</h1>
					</sl-tab-panel>
				</sl-tab-group>
			</div>

		</div>
	</div>

	{% endblock %}
	{% block content %}{% endblock %}
	{% block container %}{% endblock %} <!-- nope -->
	{% block hero %}{% endblock %} <!-- nope -->
	{% block site_nav %}{% endblock %}