
{% extends "base.html" %}


{% block announce %}
  <p><strong>Note:</strong> v1.2.3 is an early release addressing problems created by <a href="https://community.canvaslms.com/t5/Canvas-Releases/Canvas-Release-Notes-2023-09-16/ta-p/577167" target="_blank">recent changes to Canvas</a>. See <a href="https://github.com/djplaner/canvas-collections/discussions/293">this discussion</a> for more.</p>
{% endblock %}


{% block libs %}
    {{ super() }}
    <!-- <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0/dist/shoelace.js"></script> -->
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.7.0/cdn/shoelace-autoloader.js"></script>
{% endblock %}

{% block styles %}
    {{ super() }}
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0/dist/themes/light.css" /> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.7.0/cdn/themes/light.css" />
{% endblock %}


